html{
	background: url("/static/scenic_walk_971.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#nav {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30em;
}

#content {
    margin-left: 4em;
}